.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Adjust the margin as needed */
}

.buttons-container {
    display: flex;
    margin-top: 16px; /* Adjust the margin as needed */
}